<div class="container">
  <h1 class="pt-2 text-dark text-center">Galéria</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col mt-3 bg-image hover-zoom">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
      <div class="col mt-3">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
      <div class="col mt-3">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
      <div class="col mt-3">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
      <div class="col mt-3">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
      <div class="col mt-3">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
      <div class="col mt-3">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
      <div class="col mt-3">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
      <div class="col mt-3">
          <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid rounded" alt="image">
      </div>
  </div>
</div>
